<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

    <!--<display-name>Workers' personal data</display-name>-->

    <!--<servlet>-->
        <!--<servlet-name>login</servlet-name>-->
        <!--<servlet-class>by.petko.servlets.LoginServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>-->

    <!--<filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>by.petko.filters.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <servlet-name>login</servlet-name>
    </filter-mapping>-->

    <!--<filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>by.petko.filters.AuthenticationFilterionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <servlet-name>admin</servlet-name>
    </filter-mapping>-->

    <!--<welcome-file-list>
        <welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
    </welcome-file-list>-->

</web-app>
